<div class="search">
  <form #form="ngForm" (submit)="onSubmit(form)">
    <input type="text" placeholder="Search City" name="city" [(ngModel)]="city">
  </form>
</div>
<div class="container " *ngIf="weatherData && !hasError">
  <div class="upperbody">
    <img src="https://wallpaperaccess.com/full/1761719.jpg" alt="coldtempimg" *ngIf= "weatherData.main.temp < 30">
    <img src="https://t3.ftcdn.net/jpg/02/50/08/68/360_F_250086872_srlXRqANYR2IbNfIylRDc3eMO9MinjnV.jpg" alt="hottempimg" *ngIf= "weatherData.main.temp > 20">
    <div class="weather-data">
      <div class="location">{{weatherData.name}}</div>
      <div class="temperature">{{weatherData.main.temp | number: '1.0-0'}}°C</div>
      <div class="feelslike">Feels Like {{weatherData.main.feels_like | number:'1.0-0'}}°C</div>
    </div>
  </div>
  <div class="lowerbody">
    <div class="add-info-label">
      Additional Information
      <a target="#" href="https://www.google.co.in/maps/@{{weatherData.coord.lat}},{{weatherData.coord.lon}},13z">Show City On Map</a>
    </div>
    <div class="add-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.png" alt="">
          <span>Min</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_min}}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.png" alt="">
          <span>Max</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_max}}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" alt="">
          <span>Humidity</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.humidity}}%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="">
          <span>Wind</span>
        </div>
        <div class="info-block-value">
          {{weatherData.wind.speed}} km/h
        </div>
      </div>
    </div>
  </div>
</div>


<div class="cont" *ngIf="hasError"  >
  <h1>City You are Looking For is Not Available!!</h1>
</div>
