/* You can add global styles to this file, and also import other style files */
:root{
    --blue-1: #838aef;
    --blue-2: #3c4295;
    --yellow-1: #fac742;
    --white: #fff;
    --grey-1: #ededed;
    --shadow-dark:rgba(0,0,0,0.5);
    --shadow-light:rgba(255, 255, 255, 0.07);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:16px;
    width: 100%;
    height: 100vh;
    background-color: #B0AFE3;
    display: flex;
    justify-content: center;
    align-items: center;
}
